.body{
  background-color:#38a094;;
}
img{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  width: 40%;
  margin-top: 0%;
  height: 40%;
 
}
.section{
  text-align: center;
}
.section h2{
  margin-top:5%;
  color: black;
}
ul{
  text-align: center;
  color: black;
}
  nav ul li:hover{
    background-color:#38a094; 
    border-radius: 10%;
  }
footer{
  background-color: #73866f;
  color: black
}
.section h6{
  text-align: left;
}
.section h1{
  color: black;
  text-decoration: 2px solid underline;
}
table{
  font-size: 1vw;
  
}
.l-table th {
  border: 1px solid white;
}
.l-table td{
  border: 1px solid white;
}
tr{
  padding:10%;
}
th:hover{
  background-color: rgba(48, 48, 48, 0.685);
}
td:hover{
  background-color: rgba(48, 48, 48, 0.685);
}
tr:hover{
  background-color: rgba(48, 48, 48, 0.685);
}
ul li{
  color: black;
}



  