.body{
  background-color:#38a094; ;
}
img{
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  width: 40%;
  margin-top: 0%;
  height: 40%;
 
}
.section h2{
  margin-top:5%;
}
.section ul{
  text-align: center;
}

  nav ul li:hover{
    background-color: #38a094;;
    border-radius: 10%;
  }
footer{
  background-color:#73866f;;
}
.section h1{
  color: black;
  text-decoration: 2px solid underline;
}
table{
  font-size: 1vw;
}
tr{
  padding:10%;
}
th:hover{
  background-color: rgba(3, 92, 84, 0.685);
}
td:hover{
  background-color: rgba(3, 92, 84, 0.685);
}
tr:hover{
  background-color: rgba(3, 92, 84, 0.685);
}
ul li{
  color: black;
}

